<hgroup>
    <h3><%= user.email %> these are the vehicles you have favorited ...</h3>

</hgroup>

<% faves.forEach(fave =>{ %>
    <article>
        
        <a href="<%= fave.url %>"><h4><%= fave.make %> <%= fave.model %></h4></a>
    
        
        <h5>Comments:</h5>
        <% comments.forEach(comment =>{ %>
            <p><% if(comment.vehicleId === fave.id){ %>
                    <%= comment.content %> 
                    <form method="POST" action="/vehicles/delete/comment">
                        <input hidden value="<%= comment.content %>" name="content">
                        
                        <button role="small button" class="secondary outline" type="submit">Delete Comment</button>
                    </form>
            <% } %>      
            </p>
        <% }) %> 
    
        <h5>Create a comment..</h5>
        <form action="/vehicles/newComment" method="POST">
            <input hidden value="<%= fave.make %>" name="make">
            <input hidden value="<%= fave.model %>" name="model">
            <input type="text" id="content" name="content" required>
            <button type="submit">Submit</button>
        </form>
    
    <form method="POST" action="/vehicles/delete">
            <input hidden value="<%= fave.make %>" name="make">
            <input hidden value="<%= fave.model %>" name="model">
            <input hidden value="" id="modelUrl" name="url">
            
            
            <button  type="submit">Delete from Favorites</button>
        </form>
    </article>    
    <% }) %> 