<h2>User Profile</h2>

<h2>Welcome <%= user.email %> </h2>

<h3>These are the vehicles you have favorited ...</h3>
<% faves.forEach(fave =>{ %>
    <a href="<%= fave.url %>"><h4><%= fave.make %> <%= fave.model %></h4></a>
    <form method="POST" action="/users/delete">
        <input hidden value="<%= fave.make %>" name="make">
        <input hidden value="<%= fave.model %>" name="model">
        <input hidden value="" id="modelUrl" name="url">
        
        
        <button type="submit">Delete from Favorites</button>
    </form>

    <h5>Comments:</h5>
    <% comments.forEach(comment =>{ %>
        <p><% if(comment.vehicleId === fave.id){ %>
                <%= comment.content %> 
                <form method="POST" action="/users/delete/comment">
                    <input hidden value="<%= comment.content %>" name="content">
                    
                    <button type="submit">Delete Comment</button>
                </form>
        <% } %>      
        </p>
    <% }) %> 

    <h5>Create a comment..</h5>
    <form action="/users/newComment" method="POST">
        <input hidden value="<%= fave.make %>" name="make">
        <input hidden value="<%= fave.model %>" name="model">
        <input type="text" id="content" name="content" required>
        <button type="submit">Submit</button>
    </form>
    <hr>
<% }) %> 

<!-- 
    have form to create a comment and post w each favorite item
    create button renders make and models page 
    page shows comments
 -->

 <!-- 
    on profile, show own comments under each vehicle
    have delete button for each comment
    have edit button for comment
  -->

<!-- form to create comment for make and model -->
