<h2>Welcome to the <%= make %> <%= model %>'s Page </h2>

<!-- form to create new fave -->
<form action="/users/faves" method="POST">
    <input hidden value="<%= make %>" name="make">
    <input hidden value="<%= model %>" name="model">
    <input hidden value="" id="modelUrl" name="url">

    <button type="submit">Add to Faves</button>
    <script>document.getElementById('modelUrl').value = window.location.pathname;</script>
</form>

<!-- show comments for this make and model-->
<hr />
<h3>Comments:</h3>
<hr>

<% if(comments){ %>
    <% comments.forEach(comment=>{ %>
    <h4><%= comment.email %> says:</h4>
    <p><%= comment.content %> </p>
    <hr>
<% }) %> 
<% } %>
<!-- && comments.url === vehicles.url -->

